{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Predict the League{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Football Predictions Game">
    <meta name="keywords" content="Predictions, Football, Premier League, English Premier League">
    <meta name="author" content="Sarah Fluck">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" maximum-scale=1.0, user-scalable=0'>
    <link rel="icon" href="{% static 'predict/images/tablogoball.png' %}">
    <link href="{% static 'predict/styles.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Needed for mobile navbar-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'predict/script.js' %}"></script>
    <style>
      label {
        display: inline;
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
    </style>
</head>
<body>

<nav class="navdesktop">
    <a class="logo" href="{% url 'index' %}">
    <img class="toplogo" src="{% static 'predict\images\logofootball.png' %}">
    </a>
    <div class="menu-items">
      <ul class="navbar">
        <li class="item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
       
        {% if user.is_authenticated %}
            <li class="item">
                <a class="nav-link" href="{% url 'myleagues' %}">My Leagues</a>
            </li>
            <li class="item">
                <a class="nav-link" href="{% url 'create' %}">Create League</a>
            </li>
            <li class="item">
                <a class="nav-link" href="{% url 'join' %}">Join League</a>
            </li>
            <li class="item">
                <a class="nav-link" href="{% url 'settings' %}">Settings</a>
            </li>
            <li class="item">
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>
        {% else %}
            <li class="item">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
        {% endif %}
      </ul>
    </div>
</nav>

<!-- Mobile navbar -->
<nav class="mobilenav" id="mobilenav">
    
    <div class="topnav">
    <a class="logo" href="#">
        <img class="toplogo" src="{% static 'predict\images\logofootball.png' %}">
    </a>
    <div id="menulinks" >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
         
          {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'myleagues' %}">My Leagues</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create' %}">Create League</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'join' %}">Join League</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'settings' %}">Settings</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="logout" href="{% url 'logout' %}">Log Out</a>
              </li>
          {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Log In</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
          {% endif %}
        </ul>
        
      </div>
    
      <a href="javascript:void(0);" class="icon" id="class">
        <i class="fa fa-bars"></i>
      </a>
    </div>

</nav>

<div class="body">
{% block content %}

  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <h2>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </h2>
  {% endif %}
{% endblock %}
</div>

<footer>
    <p class="footertext">API football data provided by <a href="https://www.football-data.org">https://www.football-data.org</a></p>
<p class="footertext">Spotted a bug? Email us at <a href="mailto:predictheleague@gmail.com">predictheleague@gmail.com</a>!</p>
</footer>
<script>
document.addEventListener('DOMContentLoaded', () => {
    // Allow menu to drop down in mobile when clicked on, giving height so animation works
    // Declare variables
    let x = document.getElementById("class");
    let menu = document.getElementById("menulinks");
    let loggedIn = document.getElementById("logout");
    let prev = document.getElementById("previous");
    let next = document.getElementById("next");
    // Get screen width
    let screenSize = screen.width;
    // User clicks on menu
    x.onclick = () => {
    // Shrink menu back to nothing
    if (menu.style.height == "400px" || menu.style.height == "250px") {
        menu.style.height = 0;
        // Move arrows back up
        if (screenSize < 460) {
            prev.style.top = "7.5em";
            next.style.top = "7.5em";
        }
        else {
            prev.style.top = "10em";
            next.style.top = "10em";
        }
    } 
    // User is logged in so show bigger menu (no arrows on this page)
    else if (loggedIn != null) {
        menu.style.height = "400px";
    }
    // User is not logged in so show smaller menu and push the arrows down
    else {
        menu.style.height = "250px";
        if (screenSize < 460) {
            prev.style.top = "12em";
            next.style.top = "12em";
        }
        else {
            prev.style.top = "14.5em";
            next.style.top = "14.5em";
        }
    }
}
})
</script>
</body>
</html>